p {
    padding: 10px;
    color: #000000;
    background-color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.word {
    margin: 10px;
}